@font-face {
    font-family: "TITULOS";
    src: url("fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TEXTO";
    src: url("fonts/Gowun_Dodum/GowunDodum-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


h1, h2 {
    font-family: "TITULOS";
}

P {
    font-family: "TEXTO";
}

header {
    background-color: #9daece;
    display: flex;
    height: 130px;
    align-items: center;
}

body {
    background-color: #ededed;
}

.INICIO {
    text-align: center;
}

.MENSAJE {
    display: block;
    background-color: #7dc4ce; 
    padding: 20px; 
    border: 3px solid #9daece; 
    border-radius: 20px; 
    max-width: 400px; 
    margin: 20px auto; 
    text-align: justify; 
}

.MENSAJE p:nth-child(1),
.MENSAJE p:nth-child(2) {
    text-align: center;
}
