@font-face {
    font-family: "TITULOS";
    src: url("fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TEXTO";
    src: url("fonts/Gowun_Dodum/GowunDodum-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


h1, h2, h3, h4 {
    font-family: "TITULOS";
    color: #413e3e;
}

P, li, ul {
    font-family: "TEXTO";
    color: #413e3e;
}

a {
    color: #ededed;
}

a:hover {
    color: #d4afb9;      
}

header {
    background-color: #d0d0e1;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

header img {
    max-height: 100%; 
    max-width: 100%;  
    object-fit: contain;
    transform: translateX(50%);
}

footer {
    background-color: #d0d0e1;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

footer img {
    max-height: 100%; 
    max-width: 100%;  
    object-fit: contain;
}


.menu {
    list-style-type: none;
    display: flex; 
    padding: 0; 
    margin: 0; 
     position: absolute;
    left: 50%; 
    transform: translateX(-40%);
}

.menu li {
    margin-right: 20px; 
}

.menu a {
    text-decoration: none; 
    color: #413e3e;
    background-color: #ededed;          
    font-weight: bold;   
    border: 1px solid #ededed;
    padding: 5px; 
    border-radius: 4px; 
}

.menu a:hover {
    color: #d460ff;      
}

.search-box {
    padding: 5px; 
    margin-left: 20px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    transform: translateY(-20%);
}

.PORTADA {
    position: relative;
    background-image: url(imagenes/gif_portada.gif);
    background-size: cover;
    background-position: center;
    color: ;
    padding: 40px;
    height: 700px;
    text-align: center;
    z-index: 1;
}

.PORTADA h1, PORTADA p {
    position: relative;
    z-index: 2;
}


body {
    background-color: #ededed;
}

hr {
     border: none; 
    background-color: #d0d0e1; 
    height: 100px; 
    width: 100%; 
    margin: 20px auto; 
}

.INICIO {
    text-align: center;
    margin-top: 50px;

}

.MENSAJE {
    display: block;
    background-color: #7dc4ce; 
    padding: 20px; 
    border: 3px solid #9daece; 
    border-radius: 20px; 
    max-width: 700px; 
    margin: 20px auto; 
    text-align: justify; 
    transform: translateY(-2%);
}


.spotify {
    width: 700px;
}

.MENSAJE p:nth-child(1) {
    text-align: center;
}

.HISTORIA {
    text-align: center;
    margin-top: 50px;
}

.GENERACIONES h1 {
    text-align: center;
}

.ESCENARIO {
    display: flex;
    transform: translateX(130px);
}

.ESCENARIO li {
    transform: translateY(150px);
}

.sector a {
   font-family: "TÍTULOS";
   color: #413e3e;
}

.sector a:hover {
    color: #d460ff;      
}

  .sector {
            list-style: none;
            padding: 0;
        }

        .sector-item {
            display: flex;
            align-items: center;
            margin: 10px 0;
        }

        .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .color1 { background-color: #413e3e; }
        .color2 { background-color: #d460ff; }
        .color3 { background-color: #eac6cf; }
        .color4 { background-color: #c4c4d5; }
        .color5 { background-color: #67d8b685; }
        .color6 { background-color: #eb8484; }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px; 
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.image-container {
    background-color: #9daece; 
    border-radius: 8px 8px 0 0; 
    overflow: hidden; 
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-image {
    max-width: 100%; 
    height: auto; 
}

.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.card p {
    margin: 5px 0;
}

.qr-code {
    margin-top: 10px;
    width: 120px; 
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.EXPANSIÓN {
    text-align: center;
    margin-top: 50px;
}

ul, ol, li {
    font-family: "TEXTO";
    color: #413e3e;
}

.CARRUSEL {
  width: 400px;
  height: 400px; /* o el valor que te guste */
  overflow: hidden;
  position: relative;
  margin: auto;
}

.imagenescarrusel {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;

}

.imagenescarrusel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
}

.anterior , .siguiente {
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  z-index: 1;
}

.anterior {
    left: 10px;
}

.siguiente {
    right: 10px;
}

.GENS {
    display: block;
    background-color: #ededed; 
    padding: 20px; 
    border: 3px solid #413e3e; 
    border-radius: 20px; 
    max-width: 1100px; 
    margin: 20px auto; 
    text-align: justify;
}

.descripcion-video {
    text-align: center;
    font-family: "TEXTO";
    color: #413e3e;
    margin-top: 10px;
}

.gif-gen {
  width: 650px; 
  display: block;
  margin: 0 auto;
}


.AUGE {
    display: block;
    background-color: #d460ff; 
    padding: 20px; 
    border: 3px solid #946aa5; 
    border-radius: 20px; 
    max-width: 1100px; 
    margin: 20px auto; 
    text-align: justify;
}

.SALIDA {
    display: block;
    background-color: #ffb1c1; 
    padding: 20px; 
    border: 3px solid #e667b1; 
    border-radius: 20px; 
    max-width: 1100px; 
    margin: 20px auto; 
    text-align: justify; 
}

.HALLYU {
    display: block;
    background-color: #c4c4d5; 
    padding: 20px; 
    border: 3px solid #9daece; 
    border-radius: 20px; 
    max-width: 1100px; 
    margin: 20px auto; 
    text-align: justify;  
}

.JAPÓN {
    display: block;
    background-color: #ddfaff; 
    padding: 20px; 
    border: 3px solid #94ecf1; 
    border-radius: 20px; 
    max-width: 1100px; 
    margin: 20px auto; 
    text-align: justify; 
}

.MENOS {
    display: block;
    background-color: #eb8484; 
    padding: 20px; 
    border: 3px solid #bd4b4b; 
    border-radius: 20px; 
    max-width: 1100px; 
    margin: 20px auto; 
    text-align: justify; 
}